body{
	width: 100%;
	font-family: 'TruenoRegular';
	font-weight: 100; 
	font-style: normal; 
	margin: 0;
	padding: 0;
	color: #8a8784;
}
.container{
	max-width: 1120px;
	margin-left: auto;
	margin-right: auto;
}
.top_line .container{
	display: flex;
	justify-content: space-between;
}
.top_line{
	background-color: #472424;
}
.navigation{
	display: flex;
}
.navigation li{
	list-style: none;
	margin-right: 35px;
}
.navigation li a{
	text-decoration: none;
	color:#fff;
}
.authorization{
	display: flex;
	margin: 15px;
}
.cart{
	margin-right: 35px;
}
.cart span:nth-child(2) a{
	text-decoration: none;
	color: #fff;
}
.cart span:last-child a{
	text-decoration: none;
	color: #dcc5b8;
}
/*.user_profile{
	letter-spacing : -.36em;
	font-size : 0;
}
- 2 способ
*/
.user_profile span{

}
.user_profile span a{
	text-decoration: none;
	color: #fff;
	border: 1px solid rgba(255, 115, 115, 0.5);
	padding: 19px;
	/*margin-left: -.36em -1 способ*/
	/*letter-spacing: normal;
	font-size : 14px; - 2 способ*/

}
.user_profile span a:hover, .user_profile span a:active{
	background-color: rgba(255, 115, 115, 1);
	border: 1px solid rgba(255, 115, 115, 1);
}
.menu{
	background-color: #623232;

}
.menu .container a img{
	margin-top:10px;
}
.menu .container{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	/*margin-left: 155px;*/
}
.menu_list{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.menu_list li{
	list-style: none;
	
	position: relative;
}
.menu_list li a{
	text-decoration: none;
	color: #fff;
	margin-right:35px; 
}
.menu_list li.active:after,
.menu_list li:hover:after{
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 5px;
	background-color: #ff7373;
	margin: -16px;
}